#cv{
	background-color: #00ffff;
	font-size: 15px;
	margin-left: 50px;
	width: 210px;
	height: 975px;     
	top: 0px;       
	
}
.tof{   
	width: 100px;
	height: 100px;
	border-radius: 100px;
	margin-left: 45px;
	margin-top: 40px;
	
}
.ig{
	height: 23px;
	width: 23px;
	margin-left: 10px;


}
.pro{
	background-color: white;
	margin-left:50px;
	font-size: 25px;
	width: 90px;
	text-align: center;

}
.oo{
			margin-top: -39px;
			margin-left: 17px;
			background: white;
			width: 155px;
			height: 3px;
}
.skill{
	margin-top: -40px;
	margin-left: 17px;
	background: white;
width: 170px;
	height: 3px;

}

.inter{
	margin-top: -40px;
	margin-left: 17px;
	background: white;
	width: 155px;
	height: 3px;
}
#div1{
	margin-top: -1000px;
	top: 200px;
	background-color: white;
	font-size: 15px;
	margin-left: 275px;
	width: 400px;
	height: 600px;

}
.exp{
	background-color: white;
	margin-left:100px;
	font-size: 25px;
	width: 110px;	    
}

.exp1{
	background-color: white;
	margin-left:90px;
	font-size: 18px;
	width: 300px;
	margin-top: -30px;
		
}
.ex{
	margin-top: -40px;
	margin-left: 3px;
	background:#00ffff ;
	width: 85px;
	height: 3px;
}
.exx{
	margin-top: -15px;
	margin-left: 270px;
	background:#00ffff ;
	width: 100px;
	height: 3px;
}

.edu{
	margin-top: -40px;
	margin-left: 3px;
	background:#00ffff ;
	width: 85px;
	height: 3px;
}
.educ{
	margin-top: -21px;
	margin-left: 270px;
	background:#00ffff ;
	width: 100px;
	height: 3px;
}
.edu1{
	margin-top: -30px;
	margin-left: 3px;
	background:#00ffff;
	width: 85px;
	height: 3px;
}
.educ1{
	margin-top: -18px;
	margin-left: 370px;
	background:#00ffff ;
	width: 100px;
	height: 3px;
}
.lan{
	background-color: white;
	margin-left:50px;
font-size: 15px;
	font-weight: bolder;
}
.ln{
	margin-top: -21px;
	margin-left: 3px;
	background:#00ffff ;
	width: 40px;
	height: 3px;
}
.lg{
	margin-top: -21px;
	margin-left: 140px;
	background:#00ffff ;
	width: 40px;
	height: 3px;
}
.cmpter{
	background-color: white;
	font-size: 15px;
	margin-left: 260px;
	margin-top: -25px;
	font-weight: bolder;
}
.cmo{
	margin-top: -21px;
	margin-left: 210px;
	background:#00ffff ;
	width: 45px;
	height: 3px;
}
.cpt{
	margin-top: -21px;
	margin-left: 370px;
	background:#00ffff ;
	width: 50px;
	height: 3px;
}
.ang{
font-size: 20px;
}
.ng{
	font-size: 20px;
}
.cmt{
	font-size: 20px;
	margin-left: 230px;
	margin-top: -30px;
}
.cm{
	font-size: 20px;
	margin-left: 230px;
	margin-top: -90px;
}
.com{
	background-color: white;
	margin-left:35px;
	font-size: 25px;
	width: 135px;
	text-align: center;

}

